
/* Logo styling */
.logo-name {
  font-size: 30px !important;
  font-weight: 700;
  color: #ffffff !important;
  margin-left: 5%;
}

.logo-name>strong {
  color: rgb(255, 122, 14);
}

/* Navbar menu container */
.navbar-menu {
  margin-left: 40%;
  font-size: 20px;
}

/* Gap between nav links */
.nav-gap {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}



/* Link colors */
.navbar-menu .nav-link,
.navbar-menu .dropdown-toggle {
  color: #ffffff !important;
  text-decoration: none;
}

/* Hover effect */
.navbar-menu .nav-link:hover,
.navbar-menu .dropdown-toggle:hover {
  color: rgb(255, 122, 14) !important;
  transition: color 0.3s;
}

/* Dropdown styling */
.custom-link-style .dropdown-menu {
  background-color: #fdf6f6;
  border: none;
}

.custom-link-style .dropdown-menu a {
  color: #131212;
}

.custom-link-style .dropdown-menu a:hover {
  background-color: rgb(255, 122, 14);
  color: #000000;
}
