.header {
  background-image: url("../../images/background.png");
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .navigation-bar {
  position: relative;
  z-index: 2;
}

.custom-style-nav {
  background-color: transparent !important;
}

.logo-name {
  font-size: 30px !important;
  font-weight: 700;
  color: #ffffff !important;
  margin-left: 5%;
}

.logo-name>strong {
  color: rgb(255, 122, 14);
}

.navbar-menu {
  margin-left: 40%;
  font-size: 20px;
}

.nav-gap {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.text-white:hover {
  color: rgb(255, 122, 14) !important;
}

.custom-link-style>a,
a.show,
.custom-link-style>a:hover {
  color: #ffffff !important;
}

.custom-link-style>div>a {
  color: #000000;
}