.homepage-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header {
  position: relative;
  height: 1300px;
}

.video-background {
  width: 100%;
  height: 900px;
  object-fit: cover;
}

.header-attribute {
  position: absolute;
  top: 40%;
  width: 100%;
}

.header .navigation-bar {
  position: relative;
  z-index: 2;
}

.header-content {
  text-align: center;
  position: relative;
}

.header-content>h1 {
  margin-bottom: 50px;
  font-family: "AboveTheBeyond", sans-serif;
  color: rgb(250, 104, 37);
  font-size: 30px;
  text-align: center;
}

.header-content>h3 {
  overflow: hidden;
  color: rgb(255, 255, 255);
}